In [1]:
name='Mansi'

In [2]:
name

'Mansi'

In [11]:
lastname = name[1:]

In [12]:
lastname

'ansi'

In [13]:
'p'+ lastname

'pansi'

In [16]:
x = 'Its a beauty'

In [17]:
x

'Its a beauty'

In [25]:
x = x + ' y name is mansi'

In [26]:
x

'Its a beautymy name is mansi y name is mansi y name is mansimy name is mansi'

In [27]:
x.split()

['Its',
 'a',
 'beautymy',
 'name',
 'is',
 'mansi',
 'y',
 'name',
 'is',
 'mansi',
 'y',
 'name',
 'is',
 'mansimy',
 'name',
 'is',
 'mansi']

In [36]:
print('hello mansi{}'.format(' welcome'))

hello mansi welcome

In [38]:
print('my name is {}'.format('mansi'))

my name is mansi

In [39]:
result = 100/7

In [40]:
result

14.285714285714286

In [45]:
print('the result is {r:30.3f}'.format(r=result))

the result is                         14.286

In [49]:
x = 'even number'
age = 2

In [50]:
x

'even number'

In [54]:
print(f'{age} is {x}')

NameError: name 'age' is not defined

In [ ]:
number = 2
x = 'even number'

In [61]:
print('2 is {}'.format(x))

2 is even number

In [74]:
name = "sam"
age = 54

In [75]:
print(f'{name} is {age} years old')

sam is 54 years old

In [76]:
name = "My name is Mansi"

In [77]:
len(name)

16

In [93]:
name = ['one','two']

In [94]:
name

['one', 'two']

['three', 'four']

NameError: name 'new_listname' is not defined

In [109]:
my_list = ['one','two']

In [110]:
my_list[0]

'one'

In [111]:
my_list[1:]

['two']

In [112]:
another_list = ['three','four']

In [113]:
another_list

['three', 'four']

In [114]:
new_list = my_list + another_list

['one', 'two', 'three', 'four']

In [115]:
new_list

['one', 'two', 'three', 'four']

In [116]:
new_list[1] = 'TWO IN ALL CAPS'

In [117]:
new_list

['one', 'TWO IN ALL CAPS', 'three', 'four']

In [118]:
new_list.append('hello')

In [119]:
new_list

['one', 'TWO IN ALL CAPS', 'three', 'four', 'hello']

In [120]:
new_list.pop()

'hello'

In [121]:
new_list

['one', 'TWO IN ALL CAPS', 'three', 'four']

In [125]:
popped_item = new_list.pop(0)

In [126]:
popped_item

'one'

In [127]:
new_list

['TWO IN ALL CAPS', 'three']

In [128]:
new_list = ['a','d','c','b']

In [129]:
new_list.sort()

In [130]:
new_list

['a', 'b', 'c', 'd']

In [131]:
num_list = [1,6,3,8]

In [132]:
num_list.sort()

In [133]:
num_list

[1, 3, 6, 8]

In [134]:
num_list.sort()
new_sorted_list=num_list

In [135]:
new_sorted_list

[1, 3, 6, 8]

In [136]:
d = {'key1' : ['a','b','c']}

In [137]:
d

{'key1': ['a', 'b', 'c']}

In [139]:
d['key1'][2].upper()

'C'

In [141]:
fruit_list = {'mangoes':200, 'apples':300}

In [142]:
fruit_list

{'mangoes': 200, 'apples': 300}

In [143]:
fruit_list['mangoes']

200

In [145]:
fruit_list['bananas'] = 400

In [146]:
fruit_list

{'mangoes': 200, 'apples': 300, 'bananas': 400}

In [6]:
def myfunc(name):
    
    first_letter = name[0]
    inbetween = name[1:4]
    fifth_letter = name[4]
    rest = name[5:]
    
    return first_letter + inbetween.upper() + fifth_letter + rest

In [7]:
myfunc('prashant')

'pRAShant'

In [9]:
name = 'mansi'

In [11]:
mylist = [letter for letter in 'name']

In [12]:
mylist

['n', 'a', 'm', 'e']

In [15]:
mylist = []

for letter in name:
    mylist.append(letter)

In [16]:
mylist

['m', 'a', 'n', 's', 'i']

In [8]:
def my_func(char):
    lowercase = 0
    uppercase = 0
    
    for s in char:
        if s.isupper():
            uppercase += 1
        elif s.islower():
            lowercase += 1
        else:
            pass
        
    print(f'original string : {char}')
    print(f'lowercase characters are : {lowercase}')
    print(f'uppercase characters are : {uppercase}')

In [9]:
char = 'My name is Anthony Gonsalvis'

In [10]:
my_func(char)

original string : My name is Anthony Gonsalvis
lowercase characters are : 21
uppercase characters are : 3